/* shell.css */
.shell {
  height: 100vh;
  position: relative;
}

.shell header {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}

.shell .main-view iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.shell .menu {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(8px);
  transition: opacity 0.1s ease;
}

.shell .menu.open {
  opacity: 1;
  pointer-events: auto;
}

.shell .menu-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

a.snapshot-btn {
  text-align: center;
  background-color: var(--color-primary1);
}

a.snapshot-btn:hover,
a.snapshot-btn:focus,
a.snapshot-btn:active {
  background-color: var(--color-quiet);
  text-decoration: none;
}
